/* main.css */

/* Fundo Amarelo Creme */
.container {
  background-color: #f7f0e1;
}

/* Tabela de Pilotos */
table {
  background-color: #fff;
}

thead {
  background-color: #007bff;
  color: white;
}

/* Estilo dos botões */
button {
  margin: 0 5px;
  font-size: 1rem;
}

/* Estilo para a tabela */
.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/* Estilo para o alerta */
.alert-warning {
  background-color: #ffc107;
  color: #fff;
}

/* Ícones de botões */
button i {
  margin-right: 5px;
}

/* Ajustes para a área de Ações fora da tabela */
.actions {
  margin-top: 20px;
}

.actions .mb-2 {
  display: inline-block;
  margin-right: 10px;
}
